<form  [formGroup]="form" (submit)= "onsubmit(form)"  style="margin-top: 30%;" novalidate>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h5 style="text-align: center; line-height: 0.1em;" >Register</h5>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="name">Name </label>
          <input type="text" formControlName="name"  class="form-control" id="name" aria-describedby="nameHelp" required>
        </div>
        <div class="col-6">
          <label for="lastName">Last Name</label>
          <input type="text" formControlName="lastName"class="form-control" id="lastName" aria-describedby="lastNameHelp" required>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="password">Password </label>
          <input  formControlName="password" [type]= "(showPass) ? 'text' : 'password'" class="form-control" id="password" aria-describedby="passwordHelp" required>
        </div>
        <div class="col-6">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" formControlName="confirmPassword"class="form-control" id="confirmPassword">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="email">Email addres</label>
          <input type="email" formControlName="email"class="form-control" id="email">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="areaCode">Area code</label>
          <input type="tel" formControlName="areaCode"class="form-control" id="areaCode">
        </div>
        <div class="col-9">
          <label for="phoneNumber" style="display: inline-block;">Phone Number</label>
          <input type="tel" formControlName="phoneNumber"class="form-control" id="phoneNumber">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="date">Birth Date</label>
          <input type="date" formControlName="date"class="form-control" id="date">
        </div>
      </div>
      <div class="row" >
        <div class="col-12" style="padding-left: 8%;">
          <input class="form-check-input" type="checkbox" id="termsConditions" >
          <label class="form-check-label" for="termsConditions">I accept the therms of use & conditions</label>
        </div>
      </div>
      <div class="row" style="padding-top: 3%;">
        <div class="col-12">
          <button type="button" class="btn btn-primary btn-sm btn-block">Register Now</button>
        </div>
      </div>
    </div>
  </div>
</form>
